@page
@model LoginModel

@{
  ViewData["Title"] = "Đăng nhập";
  
}
<div class="row justify-content-center">
  <div class="col-md-5">
    <section>
      <form class="text-center" id="account" method="post">
        <h2 class="mb-5">Đăng nhập</h2>
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
        <div class="form-floating mb-3">
          <input asp-for="Input.UserName" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
          <label asp-for="Input.UserName" class="form-label">Tên đăng nhập</label>
          <span asp-validation-for="Input.UserName" class="text-danger"></span>
        </div>
        <div class="form-floating mb-3">
          <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
          <label asp-for="Input.Password" class="form-label">Mật khẩu</label>
          <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
        <div class="checkbox mb-3 clearfix ">
          <label asp-for="Input.RememberMe" class="form-label float-start">
            <input class="form-check-input" asp-for="Input.RememberMe" />
            Nhớ tôi?
          </label>
            <a class="float-end text-decoration-none" id="forgot-password" asp-page="./ForgotPassword">Quên mật khẩu ?</a>
        </div>
        <div>
          <button id="login-submit" type="submit" class="w-100 btn btn-md bg-prime">Đăng nhập</button>
        </div>
        <div>
          <div class="position-relative my-3 clearfix">
            <hr class="m-0 float-start hr-40 " />
            <p class="position-absolute hr-text-center">Hoặc</p>
            <hr class="m-0 float-end hr-40" />
          </div>
          <p>
            <a class="btn btn-md btn-outline-dark w-100" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Đăng ký</a>
          </p>
         @* <p>
            <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
          </p>*@
        </div>
      </form>
    </section>
  </div>
 @* <div class="col-md-6 col-md-offset-2">
    <section>
      <h3>Use another service to log in.</h3>
      <hr />
      @{
        if ((Model.ExternalLogins?.Count ?? 0) == 0)
        {
          <div>
            <p>
              There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">
                article
                about setting up this ASP.NET application to support logging in via external services
              </a>.
            </p>
          </div>
        }
        else
        {
          <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
            <div>
              <p>
                @foreach (var provider in Model.ExternalLogins!)
                {
                  <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                }
              </p>
            </div>
          </form>
        }
      }
    </section>
  </div>
*@
</div>

@section Scripts {
  <partial name="_ValidationScriptsPartial" />
}
