@model IEnumerable<TastyVault.Models.Recipe>

@{
  ViewData["Title"] = "Công thức nấu ăn";
  var category = ViewData["Category"] as Category;
  var recipes = Model.ToList();
  var recipeImg = ViewData["RecipeImage"] as List<RecipeImage>;
}
@if (category != null)
{
<div class="bg-white rounded-3 position-relative category-recipe-index-outer" style="height:100px">
  <div class="position-absolute category-recipe-index-inner category-display">
    <img class="rounded-circle"  src="@category.ImagePath" style="width:100px;height:100px;" />
    <h2 class="text-center" style="max-width: 400px">@category.Name</h2>
  </div>
</div>
}
else
{
  <h1>Danh sách công thức nấu ăn</h1>
}
<div class="row recipe-list">
  @foreach (var rc in recipes)
  {
    <div class="col-sm-6 col-md-3 ps-0">
      <div class="border">
        <div class="rounded bg-img">
          <img class="w-100" src="@recipeImg.FirstOrDefault(ri=>ri.RecipeId==rc.Id)?.Path">
        </div>
        <div class="py-3 px-2 bg-white">
          <p class="recipe-title mb-2 fs-5">@rc.Name</p>
          <p class="fw-light mb-0"><i>@rc.CreatedDate.ToString("dd/MM/yyyy - HH:mm")</i></p>
        </div>
      </div>
      <form asp-action="Details" method="get">
        <input type="hidden" value="@rc.Id" name="id">
        <button class="btn btn-outline-dark mt-2 mb-3">
          Xem chi tiết
          <i class="fa-solid fa-arrow-right"></i>
        </button>
      </form>
    </div>
  }
</div>