@using Microsoft.AspNetCore.Identity;
@using System.Text.RegularExpressions;
@model IEnumerable<TastyVault.Models.Post>
@inject UserManager<AppUser> _userManage
@{
  ViewData["Title"] = "Blog";
  var postImgs = ViewData["PostImgs"] as List<PostImage>;
  var comments = ViewData["Comments"] as List<PostComment>;
  var reactions = ViewData["Reactions"] as List<PostReaction>;
  var users = ViewData["PostOwner"] as List<AppUser>;
  var posts = Model.ToList();
  var dayOfWeeak = new string[]
  {
    "Chủ Nhật",
    "Thứ Hai" ,
    "Thứ Ba" ,
    "Thứ Tư" ,
    "Thứ Năm" ,
    "Thứ Sáu" ,
    "Thứ Bảy" ,
  };

  Regex reg = new Regex("<[^>]*>");

}
<div class="row flex-column align-items-center">
  @foreach (var p in posts)
  {
    var createDate = "Vào " + dayOfWeeak[(int)p.CreatedDate.DayOfWeek] + ", "
    + p.CreatedDate.Day + " Tháng " + p.CreatedDate.Month + ", " + p.CreatedDate.Year
    + " Lúc " + p.CreatedDate.ToString("HH:mm");

    <div class="col-md-6 col-sm-8 mb-5" id="post-@p.Id">
      <div class="bg-white px-3 pb-2 rounded">
        <div class="clearfix">
          <div class="float-start">
            <div class="d-flex justify-content-sm-center">
              <div style="width:62px" class="">
                <img class="mw-100 rounded-circle" src="/img/logo.png">
              </div>
              <div class="ms-2 mt-2">
                <p class="m-0 fs-5 d-flex flex-column" style="">
                  @((from u in users where u.Id == p.UserId select u.UserName).FirstOrDefault())
                  <i class="" style="font-size:12px">@createDate</i>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div>
          <h3>@p.Title</h3>
          <p class="m-0">@reg.Replace(p.Content, "").Substring(0,150). . .</p>
        </div>
      </div>
      <div class="text-center overflow-hidden" style="max-height: 655px">
        <img class="w-100" src="@(postImgs?.Where(i=>i.PostId==p.Id).FirstOrDefault()?.ImagePath)">
      </div>
      <div class="w-100 d-flex  justify-content-between  bg-white">
        <form class="btn p-0 rounded-0 border-start " asp-action="Create" asp-controller="PostReactions" method="post">
          <input type="hidden" name="id" value="@p.Id" />
          <input type="hidden" name="userid" value="@_userManage.GetUserId(User)" />
          <input type="hidden" name="redirect" value="index" />
          <input type="hidden" name="fragment" value="post-@p.Id" />
          <button class="btn ps-3"><i class="fa-regular fa-heart" style="@((from r in reactions where r.UserId == _userManage.GetUserId(User) && r.PostId == p.Id  select r).Count()>0?"color:pink;":"")"></i> @((from r in reactions where r.PostId == p.Id select r.Id).Count())</button>
        </form>

        @*<a class="btn ps-3 border-start  rounded-0"><i class="fa-regular fa-heart" style="@((from r in reactions where r.UserId == _userManage.GetUserId(User) select r).Count()>0?"color:pink;":""))"></i> @((from r in reactions where r.PostId == p.Id select r.Id).Count())</a>*@
        <a asp-action="Details" asp-route-id="@p.Id" asp-fragment="comment" class="btn pe-3 border-end rounded-0"><i class="fa-regular fa-comment"></i> @((from c in comments where c.PostId == p.Id select c.Id).Count())</a>
      </div>
      <div class="w-100 btn-group rounded bg-white">
        <a asp-action="Details" asp-controller="Posts" asp-route-id="@p.Id" class="btn border rounded-0 w-50">Xem chi tiết <i class="fa-solid fa-arrow-right"></i></a>
        <a class="btn border rounded-0 w-50"><i class="fa-regular fa-share-from-square"></i>Chia sẻ</a>
      </div>
      <div></div>
    </div>
  }
</div>